<h2>Cambiar Contrase単a</h2>

<%= form_for(current_user, url: update_password_path) do |f| %>
  <div class="field">
    <%= f.label :password, "Nueva Contrase単a" %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar Nueva Contrase単a" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar Contrase単a" %>
  </div>
<% end %>
