<!DOCTYPE html>

<head>
  <title>Artlink</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Incluye las hojas de estilo y JavaScript -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>
  <!-- Contenido principal de la aplicación -->
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
